@{
    Layout = null;
}

<div class="posts-wrap color">
    <h3>Последние Комментарии</h3>
    <ul>
        <li>
            <p class="date">@DateTime.Now.Date.ToString("D") <span>@DateTime.Now.Date.ToString("hh:mm")</span></p>
            <p class="post">
                <a href="#">Comment body</a>
            </p>
        </li>
        <li>
            <p class="date">@DateTime.Now.Date.ToString("D") <span>@DateTime.Now.Date.ToString("hh:mm")</span></p>
            <p class="post">
                <a href="#">Comment body</a>
            </p>
        </li>
        <li>
            <p class="date">@DateTime.Now.Date.ToString("D") <span>@DateTime.Now.Date.ToString("hh:mm")</span></p>
            <p class="post">
                <a href="#">Comment body</a>
            </p>
        </li>
    </ul>
</div>